{% extends 'layout.html' %}

{% block body %}


<div class="container">
<h2>Upload Files</h2>
    <div class="row">
        <div class="col-lg-12">
            <p>
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                 {% for message in messages %}
                   <div class="alert alert-success">
                    <strong>{{ message }}</strong>
                  </div>
                 {% endfor %}
                  {% endif %}
                {% endwith %}
               </p>
  <div>
   <!-- File upload form -->
   <form method="post" action="/upload" enctype="multipart/form-data" class="form-inline">
    <div class="form-group">
                      <label>Choose Files: </label>
                      <input type="file" name="files[]" id="fileInput" class="form-control" multiple >
                 </div>
    <h2>Share files to username</h2>
     {% from "includes/_formhelpers.html" import render_field %}
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
    </div>
    <input type="submit" name="submit" class="btn btn-success" value="SUBMIT"/>
    </form>   
  </div>
  </div>
 </div>
</div>

{% endblock %}